﻿@model CodingTestApp.Models.Contact

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contact</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-field">
            @Html.HiddenFor(model => model.Longitude)
        </div>

        <div class="editor-field">
            @Html.HiddenFor(model => model.Latitude)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("form").submit(function (event) {
            var text = $('#Address').val();
            var addressString = text.trim().split(' ').join('+')
            if (text.length) {
                $.ajax({
                    url: "https://maps.googleapis.com/maps/api/geocode/json?address=" + addressString + "&sensor=false",
                    async: false,
                    success: function (data) {
                        var result = data.results[0];
                        var translatedAddress = result.formatted_address;
                        $('#Longitude').val(result.geometry.location.lng);
                        $('#Latitude').val(result.geometry.location.lat);
                        $('#Address').val(translatedAddress);
                    }
                });
            }
        });
    </script>
}