﻿@model IEnumerable<CodingTestApp.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Contact", FormMethod.Get))
{
     <select name="Field" id="Field">
        <option value="First">First</option>
        <option value="Last">Last</option>
        <option value="Email">Email</option>
        <option value="Address">Address</option>
    </select>
    <input type="text" name="Value" id="Value" />
    <input type="button" id="btnSubmit" value="Filter" />   
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#Field").change(function () {
            if ($("#Field option:selected").val() == "Address") {
                $("#Value").hide();
                $("#btnSubmit").val("Get Closest Contact");
            } else {
                $("#Value").show();
                $("#btnSubmit").val("Filter");
            }
        });

        $("#btnSubmit").click(function (event) {
            if ($("#Field").val() != "Address") {
                $("form").submit();
            }
            else if (navigator.geolocation) {
                var timeoutVal = 10 * 1000 * 1000;
                navigator.geolocation.getCurrentPosition(
                  displayPosition,
                  displayError,
                  { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
                );
            }
            else {
                alert("Geolocation is not supported by this browser");
            }

            function displayError(error) {
                var errors = {
                    1: 'Permission denied',
                    2: 'Position unavailable',
                    3: 'Request timeout'
                };
                alert("Error: " + errors[error.code]);
            }

            function displayPosition(position) {
                $("#Value").val(position.coords.latitude + ',' + position.coords.longitude);
                $("form").submit();
            }
        });
    </script>
}